:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    --background-color: #444444;
    background-color: var(--background-color);
    --fill: #2a2a2a;
    --fill-active: #2a2a2ab1;
    --stroke: #333333;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1d1d1d;
    cursor: pointer;
    transition: border-color 0.25s;
    color: inherit;
    
}

button:active {
    background: var(--fill-active);
}
button:hover {
    border-color: #50A050;
}

:disabled {
    cursor: not-allowed;
    background-color: #010000;
}
:disabled:hover {
    border-color: #010000;
}

#version {
    position: fixed;
    bottom: 0;
    right: 0;
}

.uptriangle {
  width: 20%;
  height: 100px;
  background: white;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  border: 2px solid black;
}
.downtriangle {
  width: 20%;
  height: 100px;
  background: white;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  border: 2px solid black;
}
 
#grid {
    display: grid;
    gap: 0px;
    max-width: 1600px;
    margin: auto;
    padding: -20px;
}

.line {
    display: inline-block
}